{% extends 'base.html.twig'%}

{% block title%}Read {{ title }}{% endblock %}

{% block body %}


{# yay! #}
<h1>{{ title }}</h1>

<div>
    <p>
        Bacon ipsum dolor amet filet mignon picanha kielbasa jowl hamburger
    </p>

    <p>
        Kielbasa pork belly meatball cupim burgdoggen chuck turkey buffalo gr
    </p>

    <p>
        Pastram short loin pork chop, chicken kielbasa swine turducken jerk
    </p>

</div>

<h2>Comments ({{ comments|length }})</h2>

<ul>
    {% for comment in comments %}
        <li>{{ comment }}</li>
    {% endfor %}
</ul>
{% endblock %}